/*========perfil========*/
.bloco-perfil {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(30, 46, 37, 0.8);
    border-left: 1px solid #fefefe;
}


.bloco-perfil img {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 190px;
    padding: 5px;
    box-shadow: -5px 5px 0px rgb(0, 0, 0);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.titulo h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    gap: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #b4afaf;
    background-color: #01150c85;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



.link-perfil {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(30, 46, 37, 0.8);
    padding: 20px;
    border-radius: 30px;
}

.link-perfil a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease;
}


.link-perfil:active {
    transform: translate(4px, 4px);
    box-shadow: -2px 2px 0px black;
}

.link-perfil:hover a {
    color: #000000;
}

.link-perfil:hover .perfil img {
    transform: scale(1.05);
    box-shadow: -10px 6px 0px black;
     background-color: rgba(78, 111, 96, 0.8);
}

.perfil {
    transition: transform 0.3s ease;
}

.links a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.links a:hover {
    color: #ffffff;
    text-shadow: 0 0 6px #b1b4af;
}