* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(./imagens/b120e9f9-a1c5-4044-a0e3-8168ec75d463.jpg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.