* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(./imagens/b120e9f9-a1c5-4044-a0e3-8168ec75d463.jpg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.tela-toda {
    display: flex;
    flex-direction:row;
    width: 100vw;     /*prets atenção: 100vw é a largura da tela, não do conteúdo. Se o conteúdo for maior que a tela, ele será cortado. -IA do VScode >w< */
    /*e cada 1vw é 1% da largura da tela. Então 100vw é 100% da largura da tela. */ 
    height: 100vh;    /*prets atenção: 100vh é a altura da tela, não do conteúdo. Se o conteúdo for maior que a tela, ele será cortado. */
    /*e cada 1vh é 1% da altura da tela. Então 100vh é 100% da altura da tela. */
}

.projetos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 50px;
    align-content:center;
    background-color: rgba(255, 255, 255, 0.8);
}

.card-projeto {
    background-color: bisque;
    border: 3px solid black;
    border-radius: 16px;
    box-shadow: 5px 5px 0px black;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.card-projeto:hover {
    transform: translate(-4px, -4px);
    background-color: #ffd9a0;
    box-shadow: 10px 10px 0px black;
}

.card-projeto:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0px black;
}

.card-projeto:hover a {
    color: white;
}

.card-projeto img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}


.card-projeto .img-hover {
    display: none;
}

.card-projeto:hover .img-padrao {
    display: none;
}

.card-projeto:hover .img-hover {
    display: block;
}

.card-projeto:hover .img-padrao {
    display: none;
}

.card-projeto a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

/*========perfil========*/
.bloco-perfil {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(100, 31, 31, 0.8);
    padding: 20px;
}

.bloco-perfil img {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 150px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bloco-perfil {
    background-color: rgba(100, 31, 31, 0.8);
}




